@import "~bulma/sass/utilities/initial-variables";


 
// Config vars
// Kalidi logo brand color: #FD461E
$kaldi-red: #D64000;
$kaldi-red-invert: #fff;
 
$primary-invert: $kaldi-red-invert;

//Configuracion de Colores
 
$primary:#e6202d;
$light:#d4dae3;

$link: $primary !default;
$body-color:$grey-dark;

$family-primary:'Roboto';
$body-size:14px;
$weight-normal:400; 
 



@import "~bulma"; 
@import "~bulma-timeline";
@import "~bulma-carousel/dist/css/bulma-carousel.sass";

.content h1,
.content h2,
.content h3,
.content h4{
  font-family: 'Oswald'
}

@import "components/layout/Header/Header"; 
@import 'components/layout/Footer/Footer';
@import 'components/slider/HomeSlider';
@import 'components/layout/BackToTop/BackToTop';
@import 'components/layout/Sidebar/Sidebar';
@import 'components/widgets/OfficeHours/OfficeHours';
@import 'components/widgets/ContactInfo/ContactInfo'; 
@import 'components/widgets/ContactForm/ContactForm'; 
@import 'components/widgets/ServiceMenu/ServiceMenu'; 
//@import '/components/widgets/LocationCompany/LocationCompany'; 
@import 'components/layout/BackToTop/BackToTop'; 
@import 'components/widgets/BrandProducts/BrandProducts';

@import 'components/widgets/ServiceList/ServiceList';
@import 'components/widgets/EnterpriseFeature/EnterpriseFeature';


@media(max-width: 767px) {
  .invert {
    flex-direction: column-reverse;
    display: flex;
  }
}